<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nids.kind4u.testapp">

    <!-- 인터넷 퍼미션 추가 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 위치 관련 퍼미션 추가 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!-- naver app을 통한 인증을 위해 필요한 permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- network 상태를 미리 체크하여 연결 안된 경우 다이얼로그를 보여주려면 아래 permission 추가 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- android test 돌릴 때 화면 lock 풀어야 로그인 touch 가능 -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_sercurity_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true">
        <service
            android:name="com.nids.util.PushService"
            android:enabled="true"
            android:exported="true"></service>

        <activity android:name="com.nids.views.ModifyPwActivity" />
        <activity android:name="com.nids.views.ModifyActivity" />
        <activity android:name="com.nids.views.ValidationActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDt0CAxNXxRSdiVQszDLinOJdzUtD464as" /> <!-- 구글 맵 인증키 -->
        <activity android:name="com.nids.views.JoinActivity" />
        <activity android:name="com.nids.views.LoginActivity"> <!-- 얘가 시작 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.nids.views.MainActivity" />
        <activity android:name="com.nids.views.CarActivity" />
        <activity android:name="com.nids.views.EditCarActivity" />
        <activity android:name="com.nids.views.NaverLoginActivity" />


        <service android:name="com.nids.util.MyFireBaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name=".SampleBootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <!-- [naveroauthlogin][start] 네이버아이디로로그인을 사용하기 위해서 넣어줘야하는 부분 -->
<!--        <activity android:name="com.nhn.android.naverlogin.ui.OAuthLoginActivity"-->
<!--            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>-->
<!--        <activity android:name="com.nhn.android.naverlogin.ui.OAuthLoginInAppBrowserActivity"-->
<!--            android:label="OAuth2.0 In-app"/>-->

    </application>

</manifest>